*{
    margin:0;
    padding:0;
    font-family:Times New Roman;
}


.ol{
    width:20px;
    color:#999;
    margin-left: 17rem;
    text-decoration: none;
    display:none;
} 
.ol li a{
    text-decoration:none;
    color:#999;
    font-size:18px;
}

.clear{
    padding:0px 9px;
    margin-right: 5px;
    top:50%;
    transform:translateY(-50%);
    width: 15px;
    height:15px;
    cursor: pointer;
    justify-content:center;
    align-items: center; 
}
.clear::before{
    margin-top:8px;
    position:absolute;
    content:'';
    width: 2px;
    height:15px;
    background:#999;
    transform: rotate(45deg);
}
.clear::after{
    margin-top:8px;
    position:absolute;
    content:'';
    width: 2px;
    height:15px;
    background:#999;
    transform: rotate(315deg);
}
.html{
    scroll-behavior: smooth;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:26%;
    border:2px solid white;
    border-radius: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height:45px;
}


.nav-list{
    width: 70%;
    display:flex;
    align-items:center;
}

.nav-list li{
    list-style: none;
    padding: 12px 35px;
}

.nav-list li a{
    font-size: 18px;
    text-decoration:none;
    color:white;
}

.nav-list li a:hover{
    text-decoration:none;
    color:gray;
}


.rightNav{
    width: 30%;
    text-align:right;
}


.rightNa{
    width:150%;
    text-align: center;
}

#Serach{
    padding:5px;
    font-size: 16px;
    border:2px solid black;
    border-radius:9px;
}

.rightNavinput{
    border-radius:5px;
    border:2px solid white;
    
}
.background{
    background:rgb(0,0,0,0.7)url('../img/5.jpg');
    background-size:cover;
    background-blend-mode: darken;
}


.navb{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    cursor: pointer;
}


.na{
    display:flex;
    align-items:center;
}

.na li{
    list-style: none;
    padding: 12px 22px;
}

.na li a{
    font-size: 18px;
    text-decoration:none;
    color:white;
    text-align: center;
    width:93px;
    font-family: kristen ITC;
}

.na li a:hover{
    text-decoration:none;
    color:gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius:12px;
}
.na li a img{
    height:69px;
}
.car{
    width:115px;
}
.car:hover{
    width:93px;
    border-radius: 12px;
    
}


.na li{
    display: flex;
    flex-direction: column;
}

.background2{
    background:black URL(../img/8.jpeg);
    background-size:cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100%;
}

.box-main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'segoe UI',Verdana, Geneva, Tahoma, sans-serif;
    max-width:50%;
    margin:auto;
    height: 80%;
}

.firstHalf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.secondHalf img{
    margin-top:100px;
    width:250px;
    border: 5px solid black;
    border-radius: 150px;
    align-items: center;
}


.text-big{
    text-align: center;
    font-size: 34px;
}

.text-small{
    text-align: center;
    font-size:22px;
}

.btns{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 100px;
    font-size: 21px;
    background: none;
    color: black;
    cursor: pointer;
}

.btns:hover{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid gray;
    border-radius: 100px;
    font-size: 17px;
    background: none;
    color: gray;
    cursor: pointer;
}

.buttons{
    text-align: center;
}


.btn{
    padding: 8px 19px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 21px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    padding: 8px 19px;
    margin: 7px 3px;
    border: 2px solid gray;
    border-radius: 100px;
    font-size: 17px;
    background: none;
    color: gray;
    cursor: pointer;
}

.buttons a{
    text-decoration: none;
}
.btnsm{
    padding: 0px 5px;
    font-size:14px;
    vertical-align: middle;
}

.btnsm:hover{
    padding: 0px 5px;
    font-size:14px;
    vertical-align: middle;

}
.bbtn-sm{
    height: 40px;
    vertical-align: middle;
    padding: 0px 4px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color:black;
    cursor: pointer;

}
.bbtn-sm:hover{
    vertical-align: middle;
    padding: 0px 4px;
    border: 3px solid gray;
    border-radius: 12px;
    font-size: 18px;
    background: none;
    color:gray;
    cursor: pointer;

}





.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    flex-direction: column-reverse;

}
.sectiona{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    flex-direction: column-reverse;

}

.section-left{
    flex-direction: row-reverse;
}

.para{
    padding-top: 10px;

}
.paraa{
    padding-top: 10px;

}
.paras{
    color:hsl(300, 76%, 13%);
}



.wraps{
    padding: 2px;
    height:100%;
    width:80%;
    background-color: black;
    margin-left:10%;
    margin-right: 10%;
    border-radius: 15px;
    flex-direction: row;
}
.wr{
    width:65%;
}
.text-big2{
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.text-small2{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.slidecontainer {
    width: 90%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 101%;
    height: 10px;
    border-radius: 5px;
    background: white;
    outline: none;
    
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 0;
    background: silver;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background: silver;
    cursor: pointer;
    border-radius: 5px;
  }
  .img{
      width: 56%;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-radius: 10px;
      margin-left: 1%;
  }
  .wra{
      background-color: black;
      border: 1px solid white;
      border-radius: 15px;
      width:35%;
      text-align: center;
      margin:3px;
  }
  .wrap{
    display: flex;
  }
  .box{
      height:14%;
      width:80%;
      background-color:white;
      margin-left: 10%;
      margin-right: 10%;
      border-radius: 7px; 
      margin-top:2.5%
  }
  






.wrapper{
    margin-top: 30px;
    max-height: 370px;
    border-top:3px solid black;
    border-bottom:3px solid;
    display:flex;
    overflow-x:auto;
}
.wrapper:-webkit-scrollbar{
    width:0;
}
.wrapper .item{
    margin-top :18px;
    margin-bottom: 18px;
    min-width:500px;
    height:310px;
    line-height: 370px;
    text-align:center;
    color:white;
    font-size: 30px;
    background-color:black;
    margin-right: 22px;
    border:3px solid white;
    border-radius: 50px;

}

.thumbnil img{
    width: 500px;
    border: 4px solid black;
    border-radius: 30px;
}
.thumbnila img{
    width: 500px;
    border: 4px solid black;
    border-radius: 30px;
}





.contact{
    font-size: 28px;
    background-color:black;
    height:100%;
}

.text-center{
    padding-top:10px;
    text-align: center;
    color: white
}

.form{
    max-width:70%;
    margin: 0px auto;
}

.form input{
    margin: 15px 0;
    width: 100%;
    font-size: 18px;
    border-radius:6px;
}

.form textarea{
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    border-radius:6px;
}

.bt{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 20px;
    background: none;
    color: white;
    cursor: pointer;
}

.bt:hover{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 20px;
    background: none;
    color: gray
}


.text-footer{
    padding: 10px;
    font-size: 20;
    text-align: center;
    color: whitesmoke
}

.burger{
    position: absolute;
    cursor: pointer;
    left: 4%;
    top: 19px;
    display:none;
}
.icon{
    position: absolute;
    cursor: pointer;
    left: 4%;
    top: 12px;
    display:none;

}
.burger2{
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 7px;
    height: 24px;
    display:none;
}
.color{
    width: 17px;
    height:17px;
    border-radius:100px;
    background-color:white;
    
}

.line3{
    width: 24px;
    background-color: white;
    height: 3px;
    margin: -5px 1px;
    transform: rotate(45deg);
    
}   
.color2 {
    width: 17px;
    background-color: black;
    height: 4px;
    margin: -9px 0px;
    transform: rotate(-5deg);
    transition: all 0.5s ease-in;
}

.no{
    height: 0px;
    width: 0px;
    transition: all 0.5s linear;
    transform: rotate(447deg);
    margin: -7px 8px;
}


.pocox{
    cursor: pointer;
    border:3px solid black;
    border-radius: 5px;
}
.pocoxa{
    cursor: pointer;
    border:3px solid black;
    border-radius: 5px;
}

.line{
    width: 25px;
    background-color: white;
    height:2px;
    margin: -1.5px 1px;
    transform:rotate(45deg);
    transition: all 0.5s ease-in;
}
.line2{
    width: 25px;
    background-color: white;
    height:2px;
    margin: -1.5px 1px;
    transform:rotate(-45deg);
    transition: all 0.3s ease-in;
}

.top{
    width: 23px;
    background-color: white;
    height:1px;
    margin: 4px 1px;
    transform:rotate(0deg);
}

.bootom{
    width: 23px;
    background-color: white;
    height:1px;
    margin: 4px 1px;
    transform:rotate(0deg);
}


.poco{
    background-color: white;
    padding:1px 7px;
    font-size:34px;
}
.pocoa{
    background-color: white;
    padding:1px 7px;
    font-size:34px;
}

.h-resp{
    max-height: 38px;
}
.v-resp{
    opacity: 0;
    display:none;
}
.h-a-resp{
    max-height: 38px;
}
.v-a-resp{
    opacity: 0;
    display:none;
}


.rightNavinput{
    width: 165px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 5px;
}

.rightNa input{
    font-size: 18px;
    height: 35px;
    width: 200px;
    border:3px solid black;
    border-radius:7px;
    padding : 0px 5px;
    
}
@media only screen and (max-width:1242px){
    .na li {
        list-style: none;
        padding: 12px 16px;
    }
}

@media only screen and (max-width:1140px){
    .rightNavinput {
        width: 68%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
        
    }
        
  
    .wrapper{
        margin-top: 30px;
        max-height: 370px;
        border-top:3px solid black;
        border-bottom:3px solid;
        display:flex;
        overflow-x:auto;
    }
    .wrapper:-webkit-scrollbar{
        width:0;
    }
    .wrapper .item{
        margin-top :18px;
        margin-bottom: 18px;
        min-width:500px;
        height:310px;
        line-height: 370px;
        text-align:center;
        color:white;
        font-size: 30px;
        background-color:black;
        margin-right: 22px;
        border:3px solid white;
        border-radius: 50px;
    
    }
    .nav-list{
        flex-direction: column;

    }
    
    .navbar{
        max-height: 315px;
        height: 315px;
        transition: all 0.8s ease-out;
        flex-direction: column;
        flex-direction: column-reverse;

    }
    .rightNa input{
        font-size: 17px;
        height: 30px;
        width: 200px;
        border:3px solid black;
        border-radius:7px;
        padding : 0px 5px;
    }
    .logo img{
        width:60%;
        border:2px solid white;
        border-radius: 80px;
    }
    .nav-list li a{
        font-size: 22px;
        text-decoration:none;
    }

    .rightNav{
        width: 100%;
        text-align:center;
        transition: all 1.2s ease-out;
    }
    #search{
        width: 100%;
    }
    .na{
        flex-direction: column;
    }
    .na li {
        list-style: none;
        padding: 12px 85px;
    }
    .navb{
        flex-direction: row;
        transition: all 0.7s ease-out;
    }
    .na li b{
        font-size: 22px;
        text-decoration:none;
    }

    
    .burger{
        display:block;
    }
    .burger2{
        display:block;
    }


    .h-nav-resp{
        max-height: 38px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .v-class-resp{
        opacity: 0;
        display:none;
    }
    .va-class-resp{
        height:0px;
        max-width: 0px;

        margin-left:215%;
    }
    .vb-class-resp{
        opacity: 0;
        display:none;
    }

    
    .text-small{
        text-align: center;
    }
    
    .text-big{
        text-align: center;
    }
    .paras{
        padding:0px 0px
    }


    .bbtn-sm{
        margin:10px;
    }
    .bbtn-sm{
        height: 36px;
        vertical-align: middle;
        padding: 0px 4px;
        border: 3px solid black;
        border-radius: 10px;
        font-size: 15px;
        background: none;
        color:black;
        cursor: pointer;
    
    }
    .bbtn-sm:hover{
        vertical-align: middle;
        padding: 0px 4px;
        border: 3px solid gray;
        border-radius: 12px;
        font-size: 15px;
        background: none;
        color:gray;
        cursor: pointer;
    
    }
}



@media only screen and (max-width:800px){
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 0;
        background: silver;
        cursor: pointer;
        border-radius: 3px;
      }
      
      .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        background: silver;
        cursor: pointer;
        border-radius: 3px;
      }
      .wraps {
        padding: 2px;
        height: 100%;
        width: 97.5%;
        background-color: black;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 15px;
        flex-direction: row;
    }
    .rightNavinput {
        width: 44%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .box{
        height:13%;
        width:80%;
        background-color:white;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 7px; 
        margin-bottom: 3.2%
    }
    .wrapper{
        margin-top: 27px;
        max-height: 233px;
        border-top:3px solid black;
        border-bottom:3px solid;
        display:flex;
        overflow-x:auto;
    }
    .wrapper:-webkit-scrollbar{
        width:0;
    }
    .wrapper .item{
        min-width: 290px;
        height: 182px;
        line-height: 233px;
        text-align: center;
        color: white;
        font-size: 30px;
        background-color: black;
        margin-right: 10px;
        border: 3px solid white;
        border-radius: 30px;
    }
    
    .thumbnil img{
        width: 100%;
        border: 4px solid black;
        border-radius: 30px;
    }
    .thumbnila img{
        width: 100%;
        border: 4px solid black;
        border-radius: 30px;
    }
    .rightNa input{
        font-size: 15px;
        height: 16px;
        width: 100px;
        border:3px solid black;
        border-radius:7px;
        padding : 0px 5px;
    
    }
    .navb{
        flex-direction: row;
        transition: all 0.7s ease-out;
    }
    .na li {
        list-style: none;
        padding: 12px 57px;
    }
    .bbtn-sm{
        height: 23px;
        vertical-align: middle;
        padding: 0px 4px;
        border: 3px solid black;
        border-radius: 6px;
        font-size: 15px;
        background: none;
        color:black;
        cursor: pointer;
    
    }
    .bbtn-sm:hover{
        vertical-align: middle;
        padding: 0px 4px;
        border: 3px solid gray;
        border-radius: 5px;
        font-size: 15px;
        background: none;
        color:gray;
        cursor: pointer;
    
    }

}
@media only screen and (max-width:623px){
    .na li {
        list-style: none;
        padding: 12px 45px;
    }
}
@media only screen and (max-width:560px){
    .text-big2{
        color: white;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
    .text-small2{
        color: white;
        font-size: 12px;
        padding: 10px;
    }
    .slider {
        -webkit-appearance: none;
        width: 101%;
        height: 7px;
        border-radius: 5px;
        background: white;
        outline: none;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border: 0;
        background: silver;
        cursor: pointer;
        border-radius: 3px;
      }
      
      .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border: 0;
        background: silver;
        cursor: pointer;
        border-radius: 3px;
      }
      .na li {
        list-style: none;
        padding: 12px 30px;
    }
}
@media only screen and (max-width:461px){
    .na li {
        list-style: none;
        padding: 12px 17px;
    }
    .car{
        width:100px;
    }
}

@media only screen and (max-width:389px){
    .rightNavinput {
        width: 27%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .na li {
        list-style: none;
        padding: 12px 8px;
    }
}
@media only screen and (max-width:332px){
    .wraps {
        padding: 2px;
        height: 100%;
        width: 96%;
        background-color: black;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 15px;
        flex-direction: row;
    }
    .text-small2{
        color: white;
        font-size: 10px;
        padding: 10px;
    }
    .na li {
        list-style: none;
        padding: 12px 1px;
    }
}
@media only screen and (max-width:300px){
    .na li {
        list-style: none;
        padding: 12px 0px;
    }
    .car{
        width: 92px;
    }
    .color{
        width: 16px;
        height: 16px;
        border-radius: 100px;
        background-color: white;

    }
    .line3{
        width: 22px;
        background-color: white;
        height: 3px;
        margin: -5px 1px;
        transform: rotate(45deg);
    }   
    .color2 {
        width: 17px;
        background-color: black;
        height: 4px;
        margin: -8px 0px;
        transform: rotate(-5deg);
        transition: all 0.5s ease-in;
    }
    .no{
        height: 0px;
        width: 0px;
        transition: all 0.5s linear;
        transform: rotate(447deg);
        margin: -6px 7px;
    }
}
@media only screen and (max-width:290px){
    
    .text-small2{
        color: white;
        font-size: 9px;
        padding: 10px;
    }
}
@media only screen and (max-width:280px){
    .rightNav{
        padding-top: 45px;
    }
    .rightNavinput {
        width: 37%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .wrapper{
        margin-top: 20px;
        max-height: 125px;
        border-top:3px solid black;
        border-bottom:3px solid;
        display:flex;
        overflow-x:auto;
    }
    .wrapper:-webkit-scrollbar{
        width:0;
    }
    .wrapper .item{
        margin-top :10px;
        margin-bottom: 10px;
        min-width:145px;
        height:90px;
        line-height: 100px;
        text-align:center;
        color:white;
        font-size: 30px;
        background-color:black;
        margin-right: 5px;
        border:3px solid white;
        border-radius: 20px;
    
    }
    .secondHalf img{
        margin-top:100px;
        width:100px;
        border: 2px solid black;
        border-radius: 150px;
        align-items: center;
    }
    .text-big{
        font-size: 14px;
    }
    .text-small{
        font-size: 10px;
    }
    .btn{
        padding: 3px 6px;
        margin: 7px 3px;
        border: 2px solid whitesmoke;
        border-radius: 100px;
        font-size: 10px;
        background: none;
        color: white;
        cursor: pointer;
    }
    .btn:hover{
            padding: 2px 5px;
            margin: 7px 3px;
            border: 1px solid gray;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: gray;
            cursor: pointer;
    }
    .rightNa input{
            width:50px;
            border:3px solid black;
            border-radius:7px;
            padding : 0px 5px;
        
    }
    .text-center{
            font-size:26px;
    }
    .bt{
        padding: 3px 6px;
        margin: 7px 3px;
        border: 2px solid whitesmoke;
        border-radius: 100px;
        font-size: 10px;
        background: none;
        color: white;
        cursor: pointer;

    }

    .bt:hover{
        padding: 3px 6px;
        margin: 7px 3px;
        border: 1px solid white;
        border-radius: 100px;
        font-size: 10px;
        background: none;
        color: gray;
        cursor: pointer;

    }
}
@media only screen and (max-width:279px){
    .navb{
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .car{
        width: 115px;
    }
}

@media only screen and (max-width:239px){
    .wra {
        background-color: black;
        border: 1px solid white;
        border-radius: 15px;
        width: 35%;
        height: 150px;
        text-align: center;
        margin: 3px;
    }
}
@media only screen and (max-width:175px){
    .rightNav{
        padding-top: 45px;
        padding-bottom: 2px;
    }
    .rightNavinput {
        width: 70%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .btnsm{
        display:none;
    }
    .clear{
        display:none;
    }
    .wrapper{
        margin-top: 15px;
        max-height: 102px;
        border-top:3px solid black;
        border-bottom:3px solid;
        display:flex;
        overflow-x:auto;
    }
    .wrapper:-webkit-scrollbar{
        width:0;
    }
    .wrapper .item{
        margin-top :8px;
        margin-bottom: 8px;
        min-width:110px;
        height:68px;
        line-height: 102px;
        text-align:center;
        color:white;
        font-size: 30px;
        background-color:black;
        margin-right: 5px;
        border:3px solid white;
        border-radius: 20px;
    
    }
    .secondHalf img{
        margin-top:100px;
        width:100px;
        border: 2px solid black;
        border-radius: 150px;
        align-items: center;
    }
    .rightNa input{
        width:50px;
        border:3px solid black;
        border-radius:7px;
        padding : 0px 5px;
    }
    .bbtn-sm{
        vertical-align: middle;
        padding: 0px 4px;
        border: 3px solid black;
        border-radius: 100px;
        font-size: 8px;
        background: none;
        color:black;
        cursor: pointer;
    }
    .na li a{
        font-size: 12px;
        text-decoration:none;
        color:white;
        width:80px;
    }
    .car{
        width:107px;
    }

    .para{
        font-size: 9px;
    }
    .paraa{
        font-size: 9px;
    }


}


 





@media only screen and (max-height:585px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
    
}

@media only screen and (max-height:510px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
    
}
@media only screen and (max-height:412px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    
    .rightNa input{
            border:3px solid black;
            border-radius:7px;
            padding : 0px 5px;
    }
    .firstSection{
        height: 100%;
    }
    
}
@media only screen and (max-height:345px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .secondHalf img{
        margin-top:100px;
        width:100px;
        border: 2px solid black;
        border-radius: 150px;
        align-items: center;
    }
    .text-big{
        font-size: 18px;
    }
    .text-small{
        font-size: 14px;
    }
    .btn{
        padding: 3px 6px;
        margin: 7px 3px;
        border: 2px solid whitesmoke;
        border-radius: 100px;
        font-size: 10px;
        background: none;
        color: white;
        cursor: pointer;
    }
    .btn:hover{
            padding: 2px 5px;
            margin: 7px 3px;
            border: 1px solid gray;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: gray;
            cursor: pointer;
    }
    .rightNa input{
            border:3px solid black;
            border-radius:7px;
            padding : 0px 5px;
    }
    .firstSection{
        height: 100%;
    }
}

@media only screen and (max-height:292px){
    .rightNav{
        height: 30px;
    }
    .rightNavinput{
        height:13px;
    }
    .btn{
        height: 19px;
        font-size: 8px;
    }
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .h-nav-resp {
        max-height: 30px;
    }
    .burger {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 15px;
    }
    .icon {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 9px;
        width: 22px;
    }

    .line {
        width: 20px;
        background-color: white;
        height: 2px;
        margin: -2px 1px;
    }
    .line2 {
        width: 20px;
        background-color: white;
        height: 2px;
        margin: -2px 1px;
    }
    .top {
        width: 20px;
        background-color: white;
        height: 1px;
        margin: 3px 1px;
    }
    .bootom {
        width: 20px;
        background-color: white;
        height: 1px;
        margin: 3px 1px;
    }
    .burger2 {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 5px;
    }
    .color{
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background-color: white;

    }
    .line3{
        width: 20px;
        background-color: white;
        height: 3px;
        margin: -5px 1px;
        transform: rotate(45deg);
    }   
    .color2 {
        width: 17px;
        background-color: black;
        height: 3px;
        margin: -7px 0px;
        transform: rotate(-5deg);
        transition: all 0.5s ease-in;
    }
    .no{
        height: 0px;
        width: 0px;
        transition: all 0.5s linear;
        transform: rotate(447deg);
        margin: -6px 7px;
    }
}

@media only screen and (max-height:253px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
    
}
@media only screen and (max-height:215px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
    
}
@media only screen and (max-height:185px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
}
@media only screen and (max-height:152px){
    .contact{
        font-size: 28px;
        background-color:black;
        
    }
    .firstSection{
        height: 100%;
    }
}


